<!--
	Lens by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<body class="is-preload-0 is-preload-1 is-preload-2">

  <!-- Main -->
    <div id="main">

      <!-- Header -->
        <header id="header">
          <h1>Galeria Lens</h1>
          <p>Una galería dedicada al arte de Gustav Klimt <a href="http://html5up.net" target="_blank">HTML5 UP</a></p>
          <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
          </ul>
        </header>

      <!-- Thumbnail modo RoR -->
		<section id="thumbnails">
			<!-- arreglo con las imagenes y textos correspondientes -->
			<% galeria = [
				{
					"nombre" => "serpientes-agua-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "Serpientes Acuáticas II",
					"p" => "Este cuadro como otros del artista muestra el gusto especial de Klimt por pintar figuras femeninas. El entorno onírico que se aprecia en esta obra, se repite en los trabajos más famosos de este artista."
				},
				{
					"nombre" => "virgen-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "La Virgen",
					"p" => "La obra muesta un grupo de mujeres entrelazadas con telas de colores vivos. La pintura fue realizada en el año 1913."
				},
				{
					"nombre" => "muerte-y-vida-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "Muerte y Vida",
					"p" => "En esta obra el artista quiso representar la vida mostrando personas de todas las generaciones, desde el bebé hasta la abuela, como símbolo de el círculo sin fin de la existencia."
				},
				{
					"nombre" => "mada-primavesi-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "Mada Primavesi",
					"p" => "La despampanante belleza del rostro femenino que exhibe este cuadro es uno de las pocas iniciativas del artista en retratar la pureza e inocencia infantil."
				},
				{
					"nombre" => "la-satisfaccion-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "La Satisfacción",
					"p" => "Las posturas corporales y formas de la obra permiten astisbar el cuadro El Beso, el cual sería pronto pintado por Klimt."
				},
				{
					"nombre" => "lago-attersee-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "Lago Attersee",
					"p" => "Los altos contrastes de pinceladas turquesa sobre fondo de colores apagados conforma un paisaje natural vibrante. El cuadro está inspirado en el lago ubicado en Austria.."
				},
				{
					"nombre" => "la-expectacion-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "La Expectación",
					"p" => "En la obra se aprecia una joven situada delante del árbol de la vida (dibujo de fondo)."
				},
				{
					"nombre" => "el-pantano-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "El Pantano",
					"p" => "El paisaje está inspirado en el entorno boscoso austriaco, país donde el pintor desarrolló gran parte de su arte."
				},
				{
					"nombre" => "el-beso-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "El Beso",
					"p" => "Es un óleo con laminillas de oro y estaño sobre lienzo de 180 x 180 centímetros."
				},
				{
					"nombre" => "danae-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "Danae",
					"p" => "Aunque el estilo de Klimt es único y rompe con algunas reglas clásicas de la composición artística, en esta pintura demuestra que ha dominado las reglas antes de romperlas."
				},
				{
					"nombre" => "arboles-frutales-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "Árboles Frutales",
					"p" => "Aunque el tipo de paisaje no es común en el artista, Klimt logró crear una imagen de la naturaleza que evoca la serenidad y soledad propia del entorno campestre."
				},
				{
					"nombre" => "adele-bloch-bauer-klimt.jpg",
					"href" => "fulls/",
					"imgSrc" => "thumbs/",
					"h2" => "Retrato de Adele Bloch-Bauer I",
					"p" => "Pintado durante la llamada 'época dorada', en la cual el artista desarrolló toda clase de obras utilizando oro. Esta pintura fue hecha en 3 años (terminada en 1907)."
				}
			] %>
			<!-- ciclo para mostrar elementos del arreglo 'galeria' -->
			<% galeria.each do |foto| %>
				<article>
					<a class="thumbnail" href="<%= asset_path("#{foto["href"]}#{foto["nombre"]}") %>">
						<img src="<%= asset_path("#{foto["imgSrc"]}#{foto["nombre"]}") %>" alt="" />
					</a>
					<h2><%= foto["h2"] %></h2>
					<p><%= foto["p"] %></p>
				</article>
			<% end %>
		</section>
      <!-- Thumbnail modo RoR END -->

      <!-- Footer -->
        <footer id="footer">
          <ul class="copyright">
            <li>Design by: <a href="http://html5up.net" target="_blank">HTML5 UP</a>.</li>
          </ul>
        </footer>

    </div>
</body>
<!-- Scripts -->
<script src="<%= asset_path('jquery.min.js') %>"></script>
<script src="<%= asset_path('browser.min.js') %>"></script>
<script src="<%= asset_path('breakpoints.min.js') %>"></script>
<script src="<%= asset_path('main.js') %>"></script>